// dropdown menu --------------------

// :root {
//   --pics-number: 6;
// }

.drop-container {
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 150px;
  background-color: skyblue;
  transform: translateX(-150px);
  > ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
  }
}

.menu-icon {
  position: absolute;
  top: 5%;
  z-index: 100;
  > &:hover {
    scale: 1.05;
    cursor: pointer;
  }
  > &:active {
    scale: 0.95;
  }
}

.strech-it {
  width: 100%;
  transform: translateX(0px);
  transition: 1s;
}

// mobile menu ---------------------------

@media screen and (max-width: 480px) {
  .drop-container {
    font-size: 16px;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 0%;
    height: 150px;
    background-color: rgb(235, 135, 212);
    > ul {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      height: 70%;
      > li {
        padding-bottom: 20px;
      }
    }
  }
  .strech-it {
    width: 45%;
    height: 100vh;
  }
}
// image slider ---------------------------
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.carousel-frame {
  height: 600px;
  width: 800px;
  border: 4px solid red;
  
}

.carousel{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  overflow: hidden;
  > img {
    min-width: 100%;
    height: 600px;
  }
}

.dot-container {
  font-size: 50px;
  color: lime;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dot{
  background-color: rgba(103, 43, 43, 0.597);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  > &:hover{
    cursor: pointer;
    background-color: rgba(103, 43, 43, 0.8);  
  }
}

.prev, .next { 
  margin-top: 20%;
  margin-left: 15px;
  position: fixed;
  color: cyan;
  font-size: 30px;
  background-color: rgba(219, 166, 97, 0.212);
}
.next{
  margin-left: 45%;
}

